.unmark-tool {
	cursor: pointer;
}
.mark-tool {
	cursor: crosshair;
}
.clear-tool {
	cursor: no-drop;
}

.problem-cols {
	display: flex;
	flex-direction: row;
}

.problem-col {
	flex-direction: column;
	display: flex;
}

.problem-col.problem-numbers-col:nth-child(6),
.problem-col.problem-numbers-col:nth-child(11){
	border-right: 2px solid black;
}
.problem-col.problem-numbers-col .problem-cell:nth-child(5),
.problem-col.problem-numbers-col .problem-cell:nth-child(10){
	border-bottom: 2px solid black;
}

.problem-col.problem-numbers-col {
	border-top: 1px solid #656565;
	border-left: 1px solid #656565;
}

.problem-x-hints {
	display: flex;
	align-self: flex-end;
}

.problem-x-hint {
	width: 30px;
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.problem-x-hint > div {
	padding: 6px;
}
.problem-y-hint {
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.problem-y-hint > div {
	padding: 6px;
}

.problem-cell {
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #eaeaea;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid #656565;
}

.problem-cell.problem-selected {
	background-color: black;
}
